<h1><%= @nickname %>さんのマイページ</h1>

<div class="info">
  <% if current_user != @user %>
    <% if relationship = Relationship.find_by(followed_id: @user.id, following_id: current_user.id) %>
      <%= link_to 'Unfollow', user_relationship_path(@user, relationship), method: :delete %>
    <% else %>
      <%= link_to 'Follow', user_relationships_path(@user), method: :post %>
    <% end %>
  <% end %>
</div>

<div class="right">
  <% if current_user == @user %>
    <%= link_to 'ユーザー情報の編集', edit_user_path(@user) %>
  <% end %>
</div>

<div class="info">
  <p>
    <%= link_to "フォロー：#{@user.followings.count}人", followeds_user_path %>
  </p>
  <p>
    <%= link_to "フォロワー：#{@user.followeds.count}人", followings_user_path %>
  </p>
  <p>
    投稿数：<%= @posts.count %>
  </p>
</div>

<div class="info">
  お誕生日：2023年01月25日
</div>

<div class='post'>
  <% if @posts.present? %>
    <table class="tableclass">
      <tr>
        <th class="table">
          <%= link_to '日付', user_path(@user) %>
        </th>
        <th class="table">
          気持ち
        </th>
        <th class="table">
          <%= link_to '更新日時', user_path(sort_update: "false") %>
        </th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td class="table">
            <%= post.date.strftime("%Y年%m月%d日") %>
          </td>
          <td class="table">
            <%= post.kibun %>
          </td>
          <td class="table">
            <%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    投稿がありません
  <% end %>
</div>