<div class="contents row">
  <div class="container">
    <div class="kimochi">
      <h3>今日の気持ち</h3>
      <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
        <%= f.date_field :date, class: 'select' %>
        <%= f.radio_button :kibun, :優 %>
        <%= f.label :kibun, "優", {value: :優, style: "display: inline-block;"} %>
        <%= f.radio_button :kibun, :良 %>
        <%= f.label :kibun, "良", {value: :良, style: "display: inline-block;"} %>
        <%= f.radio_button :kibun, :可 %>
        <%= f.label :kibun, "可", {value: :可, style: "display: inline-block;"} %>
        <%= f.radio_button :kibun, :不可 %>
        <%= f.label :kibun, "不可", {value: :不可, style: "display: inline-block;"} %>
        <%= f.submit "投稿" %>
      <% end %>
    </div>
    <div class='calendar'>
      <% @week_days.each do |day| %>
        <div class='item'>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday]%>
            <div class="count">
              気分の投稿：<%= day[:posts].count %>
            </div>
          </div>
          <ul class='content'>
            <% if day[:posts].length != 0 %>
              <% day[:posts].each do |post| %>
                <li class='post-list'>
                  <%= post.kibun%>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>