<div class='post'>
  <div class="kimochi">
    <h1>気持ち</h1>
    <div class='kibun'>
      <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <%= f.date_field :date, class: 'select' %>
        <%= f.radio_button :kibun, :ごっつええかんじ %>
        <%= f.label :kibun, "ごっつええかんじ" %>
        <%= f.radio_button :kibun, :ええかんじ %>
        <%= f.label :kibun, "ええかんじ" %>
        <%= f.radio_button :kibun, :ぼちぼちでんなあ %>
        <%= f.label :kibun, "ぼちぼちでんなあ" %>
        <%= f.radio_button :kibun, :あかんわ %>
        <%= f.label :kibun, "あかんわ" %>
        <%= f.submit "投稿" %>
      <% end %>
    </div>
  </div>
</div>

<div class='post'>
  <table class="tableclass">
    <tr>
      <th class="table1">
        日付
      </th>
      <th class="table1">
        投稿数
      </th>
      <th class="table2">
        気持ち
      </th>
    </tr>
    <% @week_days.reverse_each do |day| %>
      <tr>
        <td class="table1">
          <%= day[:month] %>月<%= day[:date] %>日
        </td>
        <td class="table1">
          <%= day[:posts].count %>
        </td>
        <td class="table2">
          <ul>
            <% day[:posts].each do |post| %>
              <li class='post-list'>
                <%= post.kibun%>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>