<div class="contents row">
  <div class="container">
    <div class="kimochi">
      <h3>今日の気持ち</h3>
      <%= form_with(model: @post, local: true) do |f| %>
        <%= f.date_field :date, class: 'select' %>
        <%= f.select :kibun,{"🥭": 1, "🍈": 2, "🍌": 3, "🥒": 4}, {include_blank: '気分を選択'}, class: 'select' %>
        <%= f.submit "SEND" %>
      <% end %>
    </div>

    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post">
          <%= l post.date, format: :short %>
          <div class ="kibun">
            <p><%= post.kibun %></p>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</div>