<div class='post'>
  <div class="kimochi">
    <h1>今日の気持ち</h1>
    <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
      <%= f.date_field :date, class: 'select' %>
      <%= f.radio_button :kibun, :ごっつえんかんじ %>
      <%= f.label :kibun, "ごっつえんかんじ" %>
      <%= f.radio_button :kibun, :ええかんじ %>
      <%= f.label :kibun, "ええかんじ" %>
      <%= f.radio_button :kibun, :ぼちぼちでんなあ %>
      <%= f.label :kibun, "ぼちぼちでんなあ" %>
      <%= f.radio_button :kibun, :あかんわ %>
      <%= f.label :kibun, "あかんわ" %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
</div>

<div class='post'>
  <% @week_days.each do |day| %>
    <div class='item'>
      <div class='date'>
        <%= day[:month] %>/<%= day[:date] %><%= day[:wday]%>
        <div class="count">
          気分の投稿：<%= day[:posts].count %>
        </div>
      </div>
      <ul class='content'>
        <% if day[:posts].length != 0 %>
          <% day[:posts].each do |post| %>
            <li class='post-list'>
              <%= post.kibun%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>