<div class="left-header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">Go-Ya</a></h1>
  </div>
</div>
<div class="left-lists">
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <span><%= current_user.nickname %>
        <ul class="user__info">
          <li>
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
            <%= link_to "ルームを作成する", new_room_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </span>
    </div>
    <div class="follow-num">
      <p>フォロー○人</p>
      <%#= link_to "#{@user.followeds.count} #{User.human_attribute_name("人をフォローしています（Following/フォロー中）")}", followings_user_path %>
      <p>フォロワー○人</p>
      <%#= link_to "#{@user.followings.count} #{User.human_attribute_name("人にフォローされています（Followed/フォロワー）")}", followeds_user_path %>
    </div>
    <div class="info">
      <%# <%= link_to "マイページ", "/users/#{current_user.id}" %>
    </div>
    <div class="info2">
      <%= link_to "ルームを作成する", new_room_path %>
    </div>
    <div class="rooms">
    <p>* 参加中のチャットルーム *</p>
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="user-signin-btn">
      <%= link_to "ログイン", new_user_session_path, class: "post" %>
    </div>
    <div class="user-signup-btn">
      <%= link_to "新規登録", new_user_registration_path, class: "post" %>
    </div>
  <% end %>
</div>