<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>

    <div class="wrapper">  
      <div class="left-bar">
      <%= render'layouts/sidebar' %>
    </div>

    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
    <footer>
      <p>
        Copyright Go-Ya 2022.
      </p>
    </footer>
  </body>
</html>
