<!DOCTYPE html>
<html>
  <head>
    <title>Go-Ya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>

    <div class="wrapper">  
      <div class="left-bar">
        <%= render'layouts/sidebar' %>
      </div>

      <div class="main">
        <div class="container">
          <%= yield %>
        </div>
        <footer>
          <p>
            Copyright Go-Ya 2022.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
